@use "variables" as *;
@use "mixins" as *;

// Layout

html {
  font-size: 1rem;
  scroll-behavior: smooth;

  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background-color: $body-bg-color;

  color: $dark;

  font-family: $txt-font;
  font-weight: normal;
  font-size: 1rem;

  padding: 0;
  margin: 0;
}

.wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  & .wrapper__img {
    height: 100vh;
    width: 100%;
    position: absolute;

    -webkit-user-select: none;
    user-select: none;
  }
}

.container {
  box-sizing: border-box;

  width: 100%;
  margin: 0 auto;

  @media (min-width: $xl) {
    padding: 0 50px;
    max-width: 1400px;
  }

  @media (max-width: $xl) {
    max-width: 768px;
  }

  @media (max-width: $lg) {
    padding: 0 30px;
  }

  @media (max-width: $md) {
    padding: 0 15px;
    max-width: 567px;
  }
}

.container-404 {
  @include column;
  align-items: center;

  position: relative;

  padding-top: 25px;
  padding-bottom: 25px;
}

.container-fluid {
  max-width: 100%;
}

// Tags
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  font-weight: 400;

  margin: 0;
  padding: 0;
  position: relative;
  color: $dark;
  letter-spacing: normal;
}

p {
  font-family: $txt-font;
  margin: 20px 0;

  word-break: break-word;
  font-weight: 400;

  &:first-child {
    margin-top: 0px;
  }
}

span {
  font-family: $main-font;
  font-weight: 400;
}

button,
input,
select,
optgroup,
textarea {
  font-family: $main-font;
  margin: 0;
  font-size: 100%;
  line-height: 1.15;

  overflow: visible;

  &:focus-visible {
    outline: 1px solid $dark;
  }
}

button,
select {
  text-transform: none;
}

// select,
// input {
//   outline: none;
// }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}

hr,
img {
  border: none;
}

// Links
a {
  background-color: transparent;

  font-family: $main-font;
  text-decoration: none;
  color: $color-primary-2;

  &:hover {
    color: $color-primary-2;
    text-decoration: underline;
  }

  &:active {
    color: $link-pressed;
  }

  &:focus-visible {
    outline: 3px solid $dark;
  }
}

// Img

.img-responsive {
  width: auto;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

img {
  border-style: none;
}
